.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

}
.SuperBasic {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_ProfilePhoto, .container_InfoAndContact {
    margin: 10px 25px;
}

.container_ProfilePhoto > div {
    background-size: cover;
    box-shadow: 10px 5px 5px gray;
    filter: gray;
    height: 150px;
    -webkit-filter: grayscale(100%);
    width: 150px;
}

.container_Info h2 {
  margin: 0;
  padding: 0;
}
.content_info{
  white-space: nowrap;
}

.container_Icons a{
  margin-right: 10px;
}

.container_Projects {
   position: fixed;
   bottom: 5vh;
}

.container_Projects a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.titles {
  white-space: nowrap;
}

.container_Modal {
    text-align: center;
}

.container_Modal span {
    font-weight: 700; 
    text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media only screen and (max-width: 630px) {
  /*for more narrow screens, go for column, not row*/
  .SuperBasic {
    flex-direction: column;
  }
}
